<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="finished">
      {{currentTime | clock}}进度：<input type="range" @change="start" v-model="currentTime" min="0" step="1" :max="duration">{{duration | clock}} <br>
      当前音量：{{volume}} <input type="range" min="0" step="0.01" @change="setVolume" v-model="volume" max="1"> <br/>
      <button @click="play">播放</button>
      <button @click="pause">暂停</button>
      <button @click="toggle">切换</button>
      <button @click="prev">上一首</button>
      <button @click="next">下一首</button>
    </div>
  </div>
  <div id="cont" style="height: 400px;"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/d3/6.7.0/d3.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.1/echarts.min.js"></script>
<script src="../dist/wmplayer.js"></script>
<script>
const width = 300
const height = 300


// function createSvg(rawData) {
//   const x = d3.scaleLinear()
//     .domain([0, rawData.length])
//     .range([0, Math.PI*2])

//   const data = Array.from({ length: rawData.length }, (_, index) => {
//     return {
//       value: rawData[index],
//       angle: x(index),
//     }
//   })

//   const y = d3.scaleLinear()
//     .domain([d3.min(data, d => d.value), d3.max(data, d => d.value)])
//     .range([50, 100])

//   const area = d3.areaRadial()
//       .curve(d3.curveLinearClosed)
//       .angle(d => d.angle)
//   const svg = d3.create("svg")
//     .attr("viewBox", [-width / 2, -height / 2, width, height])
//     .attr("stroke-linejoin", "round")
//     .attr("stroke-linecap", "round");

//   svg.append("path")
//     .attr("fill", "steelblue")
//     .attr("fill-opacity", .3)
//     .attr("stroke-width", 1)
//     .attr("d", area
//       .innerRadius(() => 0)
//       .outerRadius(d => y(d.value))
//       (data)
//     );
//   return svg.node()
// }

let vm = new Vue({
  el: '#app',
  data: {
    duration: 0,
    media: '',
    volume: 1,
    finished: true,
    currentTime: 0,
    timer: null,
  },
  methods: {
    play() {
      this.media.play()
    },
    pause() {
      this.media.pause()
    },
    start() {
      this.media.play(+this.currentTime)
    },
    toggle() {
      this.media.toggle()
    },
    prev() {
      this.media.playPrev()
    },
    next() {
      this.media.playNext()
    },
    setVolume() {
      this.media.setVolume(+this.volume)
    },
  },
  mounted() {
    this.media = wmplayer.default.create(['./test/5.flac'], {
      volume: 0.8,
      loop: true,
      analyser: true,
      autoPlay: true,
    })
    this.media.on('ended', _=> {
      console.log(_, 'ended');
    })
    this.media.on('ended', _=> {
      console.log(_, 'ended 2');
    })
    this.media.onload = (e) => {
      console.log(e, 'load');
      this.finished = true
      this.duration = this.media.duration | 0
      clearInterval(this.timer)
      this.timer = setInterval(_=> {
        this.currentTime = this.media.getCurrentTime()
        console.log(this.media.getData());
      }, 1000)
    }
    this.initChart()
    this.update()
  },
  filters: {
    clock(val) {
      let min = `00${val/60|0}`.slice(-2)
      let sec = `00${val%60|0}`.slice(-2)
      return `${min}:${sec}`
    },
  },
})
</script>
</html>