<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="finished">
      {{currentTime | clock}}进度：<input type="range" @change="start" v-model="currentTime" min="0" step="1" :max="duration">{{duration | clock}} <br>
      当前音量：{{volume}} <input type="range" min="0" step="0.01" @change="setVolume" v-model="volume" max="1"> <br/>
      <button @click="play">播放</button>
      <button @click="suspend">暂停</button>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="./media.js"></script>
<script>
  let vm = new Vue({
    el: '#app',
    data: {
      duration: 0,
      media: '',
      volume: 1,
      finished: false,
      currentTime: 0,
      timer: null,
    },
    methods: {
      play() {
        this.media.play()
        clearInterval(this.timer)
        this.timer = setInterval(_=> {
          this.currentTime = this.media.getCurrentTime()
        }, 1000)
      },
      suspend() {
        this.media.suspend()
      },
      start() {
        this.media.start(+this.currentTime)
      },
      setVolume() {
        this.media.setVolume(+this.volume)
      }
    },
    mounted() {
      this.media = new Media('./1.mp3', {
        volume: 0.8,
        loop: true,
        analyser: true
      })
      this.media.onload = () => {
        this.finished = true
        this.duration = this.media.duration | 0
      }
    },
    filters: {
      clock(val) {
        let min = `00${val/60|0}`.slice(-2)
        let sec = `00${val%60|0}`.slice(-2)
        return `${min}:${sec}`
      },
    },
  })
</script>
</html>